* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
}

.container {
  background: #fff;
  padding: 1.5625rem;
  width: 21.875rem;
  border-radius: .625rem;
  box-shadow: 0 0 .75rem rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 1.25rem;
}

.campo {
  margin-bottom: .9375rem;
  display: flex;
  flex-direction: column;
}

.campo label {
  font-weight: bold;
  margin-bottom: .3125rem;
}

.campo input {
  padding: .625rem;
  border: 1px solid #ccc;
  border-radius: .375rem;
}

button {
  width: 100%;
  padding: .75rem;
  border: none;
  background: #4a73ff;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: .375rem;
  cursor: pointer;
  transition: .2s;
}

button:hover {
  background: #2e56e8;
}

#resultado {
  margin-top: 1.25rem;
  padding: .625rem;
  border-radius: .375rem;
  background: #eef2ff;
  max-height: 18.75rem;
  overflow-y: scroll;
  scrollbar-width: thin;
}

#resultado p {
  margin-block: 1rem;
  border-bottom: 1px dashed #0000001a;
}

.ocult {
  display: none;
}